<!-- Man Young Oh / 301161472 / COMP229-005 -->
<header>
  <div class= "container">
    <h1>
      <%= title %> <!-- Retrieve 'title' from index.js-->
    </h1>
    <p class="fw-bolder">Who am I? </p>
  </div>
</header>

<section class="py-5 bg-light" id="scroll-target">
  <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="http://drive.google.com/uc?export=view&id=1mGl5M7wVqYFbjINRXJc8c4jRODDpXNFf" alt="..." /></div>
          <div class="col-lg-6">
              <h2 class="fw-bolder">Man Young Oh</h2>
              <p class="lead fw-normal text-muted mb-0">Diligent, responsible, and talented person.</p>
              <p class="lead fw-normal text-muted mb-0">
                I was an international marketing manager about 10 years and have met various people by travelling many other countries.
                Those valuable experience has enabled me to build a mindset of business insight and marketing strategies.
                <br><br>
                Additionally, I have studied Software Engineering Technician program with various software languages and processes.
                If there is a place that someone needs a software engineer with knowledge and understanding of software along with my careers, it will be where I should be.
              </p>
              <br><br>
              <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/18lkl6AjieEmtrcTr9hVMcY35GSygCSIq/view?usp=share_link">View Resume</a>
          </div>
      </div>
  </div>
</section>
