<!-- Man Young Oh / 301161472 / COMP229-005 -->
<!-- all services are fiction-->

<main>
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
                <h2 class="fw-bolder">Career</h2>
                <p class="lead fw-normal text-muted mb-5">Highlight of Work Experience</p>
            </div>
        </div>
    </div>

    <div class="row gx-5">
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1fKGDjUEtbZaf4X7JZRt1Ot_YxIlcDY-S" alt="..." />
              <div class="card-body p-4">              
                <a class="text-decoration-none link-dark stretched-link" href="#!">
                  <h5 class="card-title mb-3">International Marketing Manager</h5>
                  <h6 class="card-text md-3">Pacific Link College, B.C, Canada</h6>
                  <p>Jun. 2018 - Jan. 2020</p>
                </a>
                <p class="card-text mb-0"> • Developed new markets in Asian countries, with a responsibility of managing over 100 agencies </p>
                <p class="card-text mb-0"> • Created marketing events and participate in educational fairs to promote recruitment </p>
                <p class="card-text mb-0"> • Consulted with prospective international students and agents (local/abroad) on studying in Canada </p>
                <p class="card-text mb-0"> • Provided quality information, referrals and support converting prospects to students  </p>
              </div>
            </div>
          </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1KmviIVwj177wLpNqxchauXtAsr6ectqB" alt="..." />
              <div class="card-body p-4">
                <a class="text-decoration-none link-dark stretched-link" href="#!">
                  <h5 class="card-title mb-3">Team Manager </h5>
                  <h6 class="card-text md-3">UVANU International, B.C, Canada</h6>
                  <p>Mar. 2009 - Oct. 2017</p>
                </a>
                <p class="card-text mb-0"> • Created and executed team projects, events, and creative content for an education consulting firm </p>
                <p class="card-text mb-0"> • Managed annual sales, progress monitoring, financial data and reporting to CEO </p>
                <p class="card-text mb-0"> • Delivered high quality private educational consulting for international clients </p>
                <p class="card-text mb-0"> • Contributed a project for company’s website to organize and create contents </p>
                <p class="card-text mb-0"> • Consistently contributed to team growth each year, exceeding 200% profit in top year </p>
              </div>
                
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1WzEB_ZJ4ncXgpRW_jdhlu8tK58g6DUqO" alt="..." />
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <h5 class="card-title mb-3">Assistant Coordinator</h5>
                    <h6 class="card-text md-3">FM Communications, Seoul, Korea</h6>
                    <p>Jul. 2008 - Dec. 2008</p></a>
                  <p class="card-text mb-0"> • Supported Senior Manager in event planning, execution of marketing campaigns and result analysis </p>
                  <p class="card-text mb-0"> • Assisted leadership in BMW M3 launch promotion event for Korean market </p>
                  <p class="card-text mb-0"> • Promoted team within ‘BMW VIP Driving Experience’ promotion, a key market event </p>
                </div>                
            </div>
        </div>
    </div>
  </div>
</main>
