<!-- Man Young Oh / 301161472 / COMP229-005 -->

<main>
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-8">
            <div class="text-center">
                <h2 class="fw-bolder">Education</h2>
                <p class="lead fw-normal text-muted mb-5">Field of Study, Level of Degree, School name, Location, Start-End date, GPA, and etc. </p>
            </div>
        </div>
    </div>

    <div class="row gx-5">

        <div class="col-lg-5 mx-auto">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=16vEWtJWxhMrdXG5gaBbmDfj_p2fpXg_k" alt="software engineer image" />
              <div class="card-body p-4">
                <a class="text-decoration-none link-dark stretched-link" href="#!">
                  <h5 class="card-title mb-3">Software Engineering Technician Diploma</h5>
                  <h6 class="card-text md-3">Centennial College, Ontario, Canada</h6>
                  <p>Sept. 2020 - Aug. 2022</p>
                </a>
                <p class="card-text mb-0"> Studied about HTML, JavaScript, Node.js, Java, C#, Android, Python, Linux, SQL, etc., and designed a personal website for making an online profile using Node.JS and JavaScript. 
                  Additionally, experienced data handling and constructed a database by MySQL and collaborated on a SRS document for a school management tool for students and instructors.</p>
                <p>GPA: 3.923/4.5</p>
              </div>
            </div>
          </div>

        <div class="col-lg-5 mx-auto">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1D1X_-pHQ2rvXFlPqig0O0KHQEncnMsNS" alt="..." />
              <div class="card-body p-4">
                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Bachelor of Business Administration Degree</h5>
                  <h6 class="card-text md-3">Dan Kook University, Seoul, Republic of Korea</h6>
                  <p>Mar. 2001 - Feb. 2008</p>
                </a>
                <p class="card-text mb-0">Studied Marketing, Management, Accounting, Human Resources, Finance, MIS, etc., and built some knowledge on understanding economic flow through activities in Stock Investment Club.
                  Additionally, won a prize in a marketing contest with E-Learning marketing content.</p>
                <p>GPA: 3.6/4.5</p>
              </div>
                
            </div>
        </div>

        
    </div>
  </div>
</main>