<!-- Man Young Oh / 301161472 / COMP229-005 -->
<header>
<div class= "container">
  <h1>
    <%= title %> <!-- Retrieve 'title' from index.js-->
  </h1>
  <p>Welcome to visit Chris MY OH website. </p>
</div>
</header>

<main class="py-5 bg-image-full " style="background-image: url('http://drive.google.com/uc?export=view&id=1wE2SPUa2GHqboCzsdUGwDpjVnJPOSG0s')">
<!-- bg-image from my google drive-->   
  <div class="text-center my-5">
    <div class="video-container">
      <iframe src="https://youtube.com/embed/F5d0mZ6mWjs?autoplay=1&mute=1&" framboder="0" width="600" height="300" allowfullscreen></iframe>
    </div>  
    <br>
    <h1 class="text-black fs-2 fw-bolder">"It's not Over until I Win"</h1>
  </div>
</main>

<bottom>
  <br>
  <div class= "container">
    <p>You got a dream... You gotta protect it. People can't do something themselves, they wanna tell you 'You can't do it.
    <br>If you want something, go get it.
    <br><span style="color:red; font-size: 1.5em; font-family:fantasy ;">Period.</span>
    <br> - The Pursuit of Happyness</p>
</div>
</bottom>

