<!-- Man Young Oh / 301161472 / COMP229-005 -->

<main>
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
                <h2 class="fw-bolder">Projects</h2>
                <p class="lead fw-normal text-muted mb-5">Highlight of either completed or on-going projects in my career</p>
            </div>
        </div>
    </div>

    <div class="row gx-5">

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=17wRlXVs_q8ZyFx9qvOyxoETZJSyWOmlq" alt="..." />
              <div class="card-body p-4">
                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Marketing Achievement</h5></a>
                <p class="card-text mb-0">Organized the Memorandum of Understanding signing event for international marketing exchanges between a university in South Korea and Vancouver Community College in Vancouver, B.C., Canada</p>
              </div>
            </div>
          </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1b4scrS95JqaoPNxcI9UqMUIoGcPyiQQz" alt="..." />
              <div class="card-body p-4">
                <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Educational Achievement</h5></a>
                <p class="card-text mb-0">Selected as the general marketing manager of East Asia by a private educational institution, Pacific Link College</p>
              </div>
                
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="http://drive.google.com/uc?export=view&id=1S4_iuDDT3Oe4MKqSfZtjxDpB8xyqALvh" alt="..." />
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Title Achievement</h5></a>
                  <p class="card-text mb-0">Selected as the general marketing manager for  East Asia by a private educational institution, Pacific Link College.</p>
                </div>                
            </div>
        </div>
    </div>
  </div>
</main>