<!-- Man Young Oh / 301161472 / COMP229-005 -->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><span style="font-size: 70%">&copy; Copyright 2021. All Right Reserved and presented by Man Young Oh</span></a>
      </div>
    </nav> 
  </footer>